<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
       
      
        <link href="../Assets/Css/bootstrap.min.css" rel="stylesheet" />
        <link href="../Assets/Css/kendo.2013.3.1119/kendo.default.min.css" rel="stylesheet" />
        <link href="../Assets/Css/kendo.2013.3.1119/kendo.common.min.css" rel="stylesheet" />
        <link href="../Assets/Css/kendo.2013.3.1119/kendo.silver.min.css" rel="stylesheet" />
        <title></title>
    </head>
<body>
    
    <button  id="btnconsumirClientes" class="btn btn-success" >Consumier servicio Clientes</button>
    
    
    <div id="gridClientes"></div>
    
    
    <script src="../Assets/js/jquery.min.js"></script>
    <script src="../Assets/js/bootstrap.min.js"></script>
 
    <script src="../Assets/js/kendo/2013.3.1119/kendo.all.min.js"></script>
    <script src="../Assets/js/bootbox.min.js"></script>
    <script src="../Assets/js/Controller/clientes.controller.js"></script>


</body>
</html>
