<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Applicattion" value="Agencias" />
  </appSettings>

  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
    <add name="AgenciaVIajesDbConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=AgenciaVIajesDb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="AgenciaVIajesDbEntities" connectionString="metadata=res://*/Business.Entities.CadenasViajesEntities.csdl|res://*/Business.Entities.CadenasViajesEntities.ssdl|res://*/Business.Entities.CadenasViajesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=AgenciaVIajesDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SeguridadCedeEntities" connectionString="metadata=res://*/Business.Entities.Seguridad.csdl|res://*/Business.Entities.Seguridad.ssdl|res://*/Business.Entities.Seguridad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SeguridadCede;user id=Cede;password=123456789;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="seguridad" connectionString="Data Source=.\SqlExpress;Initial Catalog=SeguridadAgencias;Integrated Security=false;user id = cede;password = 123456789" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages theme="ThemeAzul" styleSheetTheme="ThemeAzul"/>

    <authorization>
      <deny users="?"/>

    </authorization>
    <authentication mode="Forms">

    </authentication>
    <roleManager enabled="true" defaultProvider="CedeSeguridad">
      <providers>
        <add name="AspNetRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="seguridad" />
       <add name="CedeSeguridad" type="Seguridad.CedeRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="CedeSeguridad">
      <providers>
        <add name="AspNetMemberShip" type="System.Web.Security.SqlMembershipProvider" connectionStringName="seguridad" />
        <add name="CedeSeguridad" type="Seguridad.CedeMembership"/>
      </providers>
    </membership>

    <siteMap defaultProvider="CedeSeguridad" enabled="true" >
      <providers>
        <add name="AspNetSitemap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/web.sitemap" securityTrimmingEnabled="true" />
       <add name="CedeSeguridad" type="Seguridad.CedeSiteMapProvider"  />
      </providers>
    </siteMap>
  </system.web>
</configuration>